.ipynb_checkpoints/*
.DS_Store
.virtual_documents/Dos_pendulos (clase 16).ipynb
.virtual_documents/Dos_pendulos (clase17).ipynb
.virtual_documents/Pendulo doble (pre-clase 18).ipynb
.virtual_documents/Pendulo simple (clase 17).ipynb
